body {
    background-color: rgb(240, 235, 248);
}
.container {
    position: relative; 
}

.btn-success {
    position: relative; 
    left: 250px; 
    top: -10px; 
    margin-bottom: 20px;
}

.form-header {
    /* position: absolute; */
    left: 13px; 
    text-align: left; 
}

.container {
    margin-top: 30px;
}
.form-header {
    background-color: white;
    padding: 20px;
    margin-left: 240px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 10px solid rgb(103, 58, 183);
    width: 56%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.form-header h2, .form-header h4 {
    margin: 0;
    text-align: left;
}
.form-header h4 {
    color: rgba(0, 0, 0, 0.5);
}
.form-section {
    background-color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.question-section {
    margin-bottom: 10px;
}
.question-label {
    font-weight: bold;
}
.options-container {
    margin-top: 10px;
}
.option {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.option input[type="checkbox"] {
    margin-right: 10px;
    width: 16px; /* Adjust size of checkbox */
    height: 16px; /* Adjust size of checkbox */
}
.option input[type="radio"] {
    margin-right: 10px;
    width: 16px; /* Adjust size of radio button */
    height: 16px; /* Adjust size of radio button */
}
.option label {
    margin: 0;
}
.btn-success {
    margin-top: 20px;
    position: relative;
    left: 247px;
    background-color: rgb(103, 58, 183);
    border-color: rgb(103, 58, 183);
    color: white;
}
