body { 
    background-color: rgb(240, 235, 248); 
}

.container { 
    margin-top: 10px; 
}

.form-section { 
    background-color: white; 
    width: 56%; 
    margin-bottom: 30px; 
    margin-left: 240px; 
    padding: 20px; 
    position: relative; 
    align-items: center; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.form-header { 
    background-color: white; 
    padding: 20px; 
    margin-bottom: 10px; 
    margin-left: 240px; 
    border-radius: 10px 10px 0 0; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: left; 
    position: relative; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-top: 10px solid rgb(103, 58, 183); 
    width: 56%; 
}

.form-section h2 { 
    text-align: center; 
    margin-bottom: 30px; 
}

.form-section .question-section { 
    margin-bottom: 20px; 
}
/* Navbar custom styles */
.navbar-custom {
    background-color: rgb(103, 58, 183);
    color: white;
    border-radius: 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav>li>a {
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-nav>li>a:hover {
    color: white; /* Keep text color white on hover */
    text-decoration: none; /* Remove underline if present */
}


.navbar-nav>li>a {
    transition: color 0.3s ease;
}

.navbar-nav>li>a:hover {
    color: white; /* Explicitly set text color on hover */
}

#submit-btn {
    margin-top: 20px;
    float: left;
    clear: both;
}
.post-date{
    background: #f4f4f4;
    padding: 4px;
    margin:3px 0;
    display: block;
}
.post-thumb{
    width: 100%;
}
.pagination-link{
    margin:30px 0;
}

.pagination-links strong{
    padding: 8px 13px;
    margin:5px;
    background: #f4f4f4;
    border: 1px #ccc solid;
}

a.pagination-link{
    padding: 8px 13px;
    margin:5px;
    background: #f4f4f4;
    border: 1px #ccc solid;
}
.cat-delete{
    display:inline;
}
#basetable1 {
    border: 1px solid #3333336c; /* Darker border color */
}

#basetable1 th, #basetable1 td {
    border: 1px solid #3333336c; /* Darker border color for table cells */
}
